@media screen and (max-width: 1000px){
    .grid-containers {
            
            grid-template-columns:  100% !important;
         
        }
        .col50 > .col50{
            padding: 0;
        }

                .grid-container{
                    display: block !important;
                    padding: 10px;
                    margin: 0;
                    width: 90%;
                }
                                .item2 img,
                                .item3 img {
                                   display: none;
                                }
                                .forth-section {
    background-color: #bcffcf5f;
    padding-bottom: 0;
}

.beautiful, .trending, .myAmination p{
    text-align: center !important;
}
.trending br {
    display: block;
}

.col50 button {
   margin: auto;
   right: 0;
   left: 0;
   position: absolute;
   text-align: center;
   width: 30%;
}

.col50 img {
    margin-top: 72px;
}
.first-section .col50>h1 {
 text-align: center;
}

.first-section p {
   text-align: center;
}
.grid-containers h1 {
 text-align: center;
}
.grid-containers section > h1 {
    margin-top: 33px;
}
.about p{
    text-align: justify !important;
}

.col30 {
    width: 50%;
    padding: 20px;
    float: left;
}

#contact {
    background: #F9F9F9;
    padding: 35px;
    width: 100%;
    margin: auto;
    border-radius: 12px;
}

.slide-bd{
    margin-top: 53px;
}
}

@media screen and (max-width: 500px) {
    .grid-containers {

        grid-template-columns: 100% !important;

    }

    .col50>.col50 {
        padding: 0;
    }

    .grid-container {
        display: block !important;
        padding: 10px;
        margin: 0;
        width: 90%;
    }

    .item2 img,
    .item3 img {
        display: none;
    }

    .forth-section {
        background-color: #bcffcf5f;
        padding-bottom: 0;
    }

    .beautiful,
    .trending,
    .myAmination p {
        text-align: center !important;
      
    }
         .trending {
             text-align: center !important;
             font-size: 35px;
         }

    .trending br {
        display: block;
    }

    .col50 button {
        margin: auto;
        right: 0;
        left: 0;
        position: absolute;
        text-align: center;
        width: 50%;
        font-size: 12px !important;
    }
        .green-btn a {
            color: white;
            font-size: 12px;
        }

    .col50 img {
        margin-top: 72px;
    }
.Emsocial-links {
    color: rgb(255, 255, 255);
    width: 100%;
    font-size: 6px;
    padding: 10px 0px 10px 0px;
    background: rgb(1, 115, 45);
    background: linear-gradient(6deg, rgba(1, 115, 45, 1) 0%, rgba(0, 171, 65, 1) 47%, rgba(0, 170, 65, 1) 100%);
    text-align: right !important;
}
.first-section .col50>h1 {
    margin-top: 22px;
    font-size: 30px;
    color: rgb(188, 255, 207);
}
.first-section p {
    color: white;
    font-size: 14px;
}
.about header {
   text-align: center;
  font-size: 35px;
}

.services>header {
    text-align: center;
    color: #F9F9F9;
    text-transform: capitalize;
    font-weight: 500;

    font-size: 32px;
}

.grid-containers h1 {
    font-size: 19px;
    color: #ffffff;
}
.col30 {
    width: 100%;
    padding: 20px;
    float: left;
}

.text {
    color: #000000;
    font-size: 15px;
    padding: 142px 2px 77px 2px;
    bottom: 8px;
    width: 100%;
    text-align: center;
    margin-top: -133px;
    border-radius: 12px;
    background: rgb(1, 115, 45);
    background: linear-gradient(6deg, rgba(1, 115, 45, 1) 0%, rgba(0, 171, 65, 1) 47%, rgba(0, 170, 65, 1) 100%);
}

.slide-bd {
    margin-top: 153px;
}
.client img {
    width: 65%;
}
}