@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');


body {

    overflow-x: hidden;
    font-family: Sans-Serif;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none !important;
}
/* col*/
.col10{width: 10%;}
.col20 {
    width: 25%;
float: left;
padding: 20px;
margin: auto;
}.col30 {
   
    width: 30%;
        padding: 20px;
        float: left;
       
   
}

.col40 {
    width: 40%;
    float: left;
    padding: 20px;
    margin: auto;
       
  float: left;
}.col50 {
    float: left;
    width: 50%;
}.col60 {
    width: 60%;
     
  float: left;
}.col70 {

        float: left;
}.col80 {
    width: 80%;
}.col90 {
    width: 90%;
}
.col100{
    width: 100%;
    display: inline-block;
}
/* grid */
.grid-containers {
    display: grid;
    grid-template-columns: 10% 80% !important;
    gap: 10px;
    background-color: transparent !important;
    padding: 5px;
}

.grid-containers:hover {
 
    padding: 5px;
}
.grid-containers h1{
    font-size: 21px;
color: #ffffff;
}

.grid-containers p {
    font-size: 11px !important;
    font-style: italic;
}

.grid-container>div {
    text-align: center;
    font-size: 10px;
}

.Emsocial-links { 
        color: rgb(255, 255, 255);
        width: 100%;
        font-size: 16px;
  padding: 10px 70px 10px 30px;
background: rgb(1, 115, 45);
    text-align: right !important;

        
}

button{
    border-radius: 5px !important;
}

.Emsocial-links a:hover {
    color: rgb(255, 255, 255);
  
}
.Emsocial-links a{
 padding: 0px 20px;
    color: rgb(255, 255, 255);
        width: 100%;
        text-decoration: none;
}

/* menu *//* navbar regular css start */
.navbar-area {
    background: transparent;
}

.site-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 23px 0;
}

a.site-logo img{
   width: 150px;
}

.site-navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.site-navbar ul li a {
    color: white;
    padding: 20px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
        font-family: 'Open Sans', sans-serif !important;
                font-weight: 600 ;
        font-size: 20px;
}

.site-navbar ul li a:hover {
    color: #00ab41 !important;
}



/* navbar regular css end */


/* nav-toggler css start */
.nav-toggler {
    border: 3px solid #fff;
    padding: 5px;
    background-color: transparent;
    cursor: pointer;
    height: 39px;
    display: none;
}

.nav-toggler span,
.nav-toggler span:before,
.nav-toggler span:after {
    width: 28px;
    height: 3px;
    background-color: #000000;
    display: block;
    transition: .3s;
}

.nav-toggler span:before {
    content: '';
    transform: translateY(-9px);
}

.nav-toggler span:after {
    content: '';
    transform: translateY(6px);
}

.nav-toggler.toggler-open span {
    background-color: transparent;
}

.nav-toggler.toggler-open span:before {
    transform: translateY(0px) rotate(45deg);
}

.nav-toggler.toggler-open span:after {
    transform: translateY(-3px) rotate(-45deg);
}

/* nav-toggler css start */




/* mobile breakpoint start */
@media screen and (max-width: 767px) {
 

    /* navbar css for mobile start */
    .nav-toggler {
        display: block;
                
    }

    .site-navbar {
        min-height: 60px;
    }
         .site-navbar .site-logo {
             
position: relative;             
            
           
            position: absolute;
                color: white;
                max-height: 0;
                top: 7em;
                left: 0;
                transition: .3s;
         }
                 .site-navbar {
                     display: flex;
                     justify-content: space-between;
                     align-items: center;
                     padding: 73px 0;
                 }

                  .site-navbar .nav-toggler {
        
                      position: absolute;
                      color: white;
                      max-height: 0;
                      top:7em;
                      right: 0;
                      transition: .3s;
                  }
    .site-navbar ul {
        width: 100%;
        height: 100%;
        left: 0;
        top: 120px !important;
        flex-direction: column;
        align-items: center;
        color: white;
        max-height: 0;
        overflow: hidden;
        transition: .3s;
    }
        
         
    .posi{
        position: relative;
    }

    .site-navbar ul li {
        width: 100%;
        text-align: center;
    }

    .site-navbar ul li a {
        padding: 45px;
        color: #00ab41;

    }

    .site-navbar ul li a:hover {
        background-color: rgba(49, 77, 51, 0.1);
    }

    .site-navbar ul.open {
        max-height: 100vh;
        overflow: visible;
    }

    /* navbar css for mobile end */
}
  .site-navbar ul li a {
 
      color: black;
    
  }
   .site-navbar ul li a:hover {

       color: #00ab41;

   }

/* mobile breakpoint end */

/* navbar */
.rowX:after {
    content: "";
    display: table;
    clear: both
}

.col50 {
    width: 50%;
    padding: 20px;
    float: left;

}

.col50 img{
    width: 100%;
}


img {
    display: block;
    height: auto;
    max-width: 100%;
}

@media screen and (max-width: 1000px) {

    .column-66,
    .column-33 {
        width: 100%;
        text-align: center;
    }

    img {
        margin: auto;
    }
}


/* grid */
.grid-container {
    display: grid;
    padding: 10px;
    margin: auto;
    width: 90%;
}

.grid-item {
    padding: 20px;
    font-size: 30px;
    margin: auto;
   
}



.item1 {
    grid-column: 1;
    grid-row: 1 / 3;
    width: 100%;
        margin: auto auto auto 5%;

}

.item2 {
    grid-column: 2;
    grid-row: 1;
    width: 100%;
        margin: auto auto auto 10%;
}

.item3 {
    grid-column: 2;
    grid-row: 2;
        width: 100%;
  margin: auto auto auto 10%;
}
.item2 img, .item3 img{
width: 55%;
    margin: auto 5px auto 0;

}
.item1 img {
    width: 100%;
    margin: auto auto auto 5%;
    position: relative;
}

/* slider */


.mySlides  img{
    margin: auto !important;
}

.mySlides {
    display: none;
 
    margin: auto;

}

img {
    vertical-align: middle;
}

/* Slideshow container */
.slide-bd{
    width: 70% !important;
        margin: auto;
        padding-bottom: 44px;
  }
.slideshow-container {
    width: 100%;
        margin: auto;
 
    }


/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 80%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


a:hover {
    color:white !important;
}

/* Caption text */
.text {
    color: #000000;
    font-size: 15px;
    padding:119px 72px 47px 72px;
    bottom: 8px;
    width: 100%;
    text-align: center;
    margin-top: -103px;
   
            border-radius: 12px;
                background: rgb(1, 115, 45);
                background: linear-gradient(6deg, rgba(1, 115, 45, 1) 0%, rgba(0, 171, 65, 1) 47%, rgba(0, 170, 65, 1) 100%);
}
.text p{
    color: #000000;
    font-size: 15px;
    padding: 8px 12px;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
.text h3{
    font-size: 16px;
    color: #a2ffc6;
    text-transform: uppercase;
    font-style: italic;
}
.bi-quote::before {
    content: "\f6b0";
    color: white;
    font-size: 22px;
   
}

.last.bi-quote:last-child::before {
    content: "\f6b0";
    color: white;
    font-size: 22px;
    -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
       
}

.text h1 {
    color: #ffffff;
    text-transform: uppercase;
}
.client img {
    position: sticky;
    width: 150px;
    border-radius: 50%;
    box-shadow: 5px 0px 15px 0px #0704042e;
    

        
}
.client  {

        /* left: 0px;
        top: -20px;
        bottom: 22px;
    margin-right: auto !important;
    margin-left: auto !important;
    position: relative; */
}


/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #2e2e2ed8;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #00ab41;
}

/* Fading animation */
.fade-x {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

    .prev,
    .next,
    .text {
        font-size: 11px
    }
}

/* first section */
.beautiful{
            font-family: 'Open Sans', sans-serif !important;
    font-size: 19px;
    color: #00ab41;
    font-style: italic;
}

.trending{
    font-size: 53px;
}

.trending br {
    display: none;
}
.trending span{
    color: #00ab41;
}

.green-btn{
    background-color: #00ab41;
    border: none;
    padding: 12px 33px;
    font-size: 19px;
    color: white;
    font-size: 16px;
    font-weight: 500;
  

}
.white-btn {
    background-color: white;
    border: none;
    padding: 12px 33px;
    font-size: 19px;
    color: rgb(0, 0, 0);
  
    font-weight: 500;


}
.white-btn a{
    background-color: white;
  text-decoration: none;
    font-size: 19px;
    color: rgb(0, 0, 0);
   

}
.white-btn a:hover {
color: #00ab41 !important;  
  text-decoration: none;
    font-size: 19px;
    color: rgb(0, 0, 0);


}

.green-btn:hover {
    background-color: #00ab41;
    border: none;
    padding: 12px 33px;
    font-size: 19px;
       


}


.green-btn:hover a, .green-btn:hover {
    border: none;
    font-size: 12px;
    animation-name: greenbtn;
    animation-duration: 20s;
    color: rgb(255, 255, 255);

}

@keyframes greenbtn {
    0% {
  background-color: #04e85c;
        }
    
        25% {
  background-color: #046e2d;
        }
    
        50% {
  background-color: #2ab500;
        }
    
        100% {
  background-color: #00ab41;
        }
}

.green-btn:hover {
    background-color: #00ab41;
    border: none;
 
    font-size: 19px;

}
.green-btn a{
  color: white;
    font-size: 19px;

}
.green-btn a {
    color: white;
    font-size: 19px;

}

.first-section{
background: rgb(1, 115, 45);
    background: linear-gradient(6deg, rgba(1, 115, 45, 1) 0%, rgba(0, 171, 65, 1) 47%, rgba(0, 170, 65, 1) 100%);
    display: flex;
    
}
.first-section p{
    color: white;
    font-size: 16px;
    

}
.first-mg{
    padding-top: 63px;
    padding-bottom: 63px;
}

.first-section .col50 > h1{
    margin-top: 22px;
    font-size: 32px;
color: rgb(188, 255, 207);
   
}
.green-bg{
    background-color: rgb(255, 255, 255) !important;
    display:flex;
}
.green-bg p{
    font-size: 13px;
    text-align: justify;
}
@media only screen and (max-width: 1000px) {

    .col50{
        width: 100% !important;
    }
}

p{
    text-align: justify;
}
/* first section */

/* second section */
.second-section header{
    margin-top: 63px;
    font-size: 32px;
text-align: center;
}
.second-section p {
    width: 50%;
    text-align: center;
    margin: auto;
    padding: 10px 0 40px 0;
}

/* second section */

/* contact */
#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
    font: 400 12px/16px "Open Sans", Helvetica, Arial, sans-serif;
}

#contact {
 
   
}
.contact-mg{
        margin: auto auto -86px auto;
        width: 60% !important;
        background: #fbfffc;
        padding: 44px;
            position: relative;
            border-radius: 12px;
                box-shadow: 1px 0 5px 2px rgba(0, 0, 0, 0.15);

}

footer a{
    color: white;
}
/* .contact-mg{
    margin: 90px 0 -90px 0;
        position: relative;
    display: flex;
} */

#contact h3 {
    color: #00ab41;
    display: block;
    font-size: 30px;
    font-weight: 400;
}

#contact h4 {
    margin: 5px 0 15px;
    display: block;
    font-size: 13px;
}

fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 10px 0 !important;
    width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
    width: 100%;
    border: 1px solid #00ab41;
    background: rgb(255, 255, 255);
    margin: 0 0 5px;
    padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #00ab41;
}

#contact textarea {
    height: 100px;
    max-width: 100%;
    resize: none;
}

#contact button[type="submit"] {
    cursor: pointer;
    width: 100%;
    border: none;
background: #01732d;    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
}

#contact button[type="submit"]:hover {
background: rgb(1, 115, 45);
    background: linear-gradient(6deg, rgba(1, 115, 45, 1) 0%, rgba(0, 171, 65, 1) 47%, rgba(0, 170, 65, 1) 100%);
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#contact input:focus,
#contact textarea:focus {
    outline: 0;
    border: 1px solid #999;
}

::-webkit-input-placeholder {
    color: #888;
}

:-moz-placeholder {
    color: #888;
}

::-moz-placeholder {
    color: #888;
}

:-ms-input-placeholder {
    color: #888;
}

/* grid-containers */

footer{
background: rgb(1, 115, 45);
    background: linear-gradient(6deg, rgba(1, 115, 45, 1) 0%, rgba(0, 171, 65, 1) 47%, rgba(0, 170, 65, 1) 100%);
 }
footer ul{
   list-style: none;
   text-align: center;
   margin: auto;
    padding-top: 152px;
}
footer ul li{
    list-style: none;
    text-align: center;
    display: inline-block;
    padding: 12px;
    margin: auto;
}
footer p {
   padding: 23px 0;
    text-align: center;
    margin: auto;}

    .services{
      padding-top: 63px;
      padding-bottom: 55px;
        position: relative;
        background: rgb(1, 115, 45);
  background: linear-gradient(6deg, rgba(1, 115, 45, 1) 0%, rgba(0, 171, 65, 1) 47%, rgba(0, 170, 65, 1) 100%);
  text-align: right !important;
      
      margin:   auto;
        
    }
    .services > header {
        text-align: center;
        font-size: 52px;
        color: white;
    }
         .services>hr {
             text-align: center;
             font-size: 52px !important;
             height: 2px;
             opacity: 1;
             width: 20%;
             margin: auto;
             color: white;
         }
 .services .col50 header {
     text-align: center;
     font-size: 27px;
     color: #fdfdfd;
     padding-top: 3px;
 }

 .services-col .col50{
  margin: auto 
 }

 .service-mini p {
     text-align:center;
     font-size: 15px;
     color: #000000;
     padding-top: 3px;
 }
   .service-mini p:hover {
    
       color: #ffffff;
     
   }


  .service-mini {
   
        box-shadow: 1px 1px 3px 4px #01ed3815;
  padding: 33px;
  }
        .service-mini:hover .service-mini,
        .service-mini:hover p{

  color: white !important;
        }
                   .service-mini:hover  {
                       background-color: #00ab41;
                       box-shadow: 1px 1px 3px 4px #ffffff33;
                       padding: 33px;
                       color: white !important;
                   }

    /* about */

.third-section  {
    margin-top: 73px;
    margin-bottom: 44px;
 
}
    .about header{
        padding-top: 33px;
        font-size: 52px;
        color: #00ab41;
    }

        .about p {
  font-size: 15px;
  color: black;
  text-align: justify;
        }

       .about {
      padding: 9px;
      box-shadow: 0px 10px 15px -3px #ffffff0c;
       }



         /* forth-section */
        .forth-section{
  padding-bottom: 93px;
        }
       .forth-section header{
color: #00ab41;
text-align: center;
font-size: 28px;
padding-top: 72px !important;
        font-family: 'Open Sans', sans-serif !important;
       }
.forth-section p {
  width: 70%;
    color: #000000;
    text-align: center;
    font-size: 16px;
    margin: auto;
}

.carousel-item.active{
    background-color: transparent !important;
}

.forth-section-slider{
    width: 100%;
}

.carousel-control-next,
.carousel-control-prev {
   opacity: 0.3 !important;
}
.carousel-item img{
    border-radius: 12px;
width: 50% !important;
margin: auto !important;
}
.ml3 {
    font-weight: 900;
    font-size: 3.5em;
}

/* works */
.works {
  margin-bottom: 44px;
}

.col20 h3{
    font-size: 19px;
    text-transform: capitalize;
    text-align: center;
    width: 100%;
    padding: 20px;
    float: left;
    margin: 13px;
    box-shadow: 1px 2px 3px 2px #00ab4213;
}

.col20 h3:hover {
    color: #00ab41;
    box-shadow: 1px 2px 3px 3px rgba(0, 0, 0, 0.076);
}
  .works h1{
  text-align: center;
  text-transform:uppercase;
  padding-top: 55px;
  color: #00ab41;
                color: linear-gradient(6deg, rgba(1, 115, 45, 1) 0%, rgba(0, 171, 65, 1) 47%, rgba(0, 170, 65, 1) 100%);
  
}

.scale-up-center {
    -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
@-webkit-keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

/* back to top */




